a {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(5, 2, 92, 0.589);
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    width: fit-content;
    pointer-events: auto; /* Buton etkileşimli */
    user-select: none; /* Yazı seçilemez */
    -webkit-user-drag: none; /* Webkit tarayıcıları için sürükleme engelleme */
    user-drag: none; /* Diğer tarayıcılar için sürükleme engelleme */
}
